---
---
<div class="prose dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-h2:font-semibold prose-h2:text-lg prose-h3:font-medium prose-h3:text-base prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline">
  <slot />
</div>
