---
import "@fontsource/geist-mono";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Segara Lentera Teknologi</title>
	</head>
	<body class="antialiased">
		<div class="w-full h-min-screen p-10">
			<slot />
		</div>
	</body>
</html>
